.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.item1 { grid-area: 1 / 1 / 2 / 2;
    height: 50px;
}
.item2 { grid-area: 2 / 1 / 2 / 2;
    border: 2px solid black;
    height: 150px;
}
.item3 { grid-area: 1 / 3 / 2 / 2;
    height: 50px;
}
.item4 { grid-area: 2 / 3 / 2 / 2;
    border: 2px solid black;
    height: 350px;
}

.room_display{
    border: 2px solid black;
    height: 150px;
    width: 150px;
}
